<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="std" class="org.example.springtut.Student">
    </bean>
    <bean id="std2" class="org.example.springtut.Student">
    </bean>
    <bean class="org.example.springtut.Teacher">
        <property name="teacherName" value="Kann"></property>
    </bean>

</beans>
